<template name="index">
<div>
    <div class="text-center">
        <img src="/images/logo.jpg" style="margin-bottom: 10px;">
        {{>menu}}
    </div>

    <div class="text-center" style="background-color:#BE1418; border-top: #960C0F solid 5px;border-bottom: #960C0F solid 5px;padding: 40px 0 40px 0;width:100%">
        <div class="text-center">
            <form id="searchHome" action="/Search" method="GET" enctype="text/plain">
                <div style="padding: 10px 0 10px 0;">
                    <input  class="searchHome" type="text" name="q" id="q" placeholder="Search Your Favorite Player">
                </div>
            </form>
        </div>
    </div>

    <div class="text-center" style="background-color:#E8E8E8; border-bottom: #BABABA solid 5px;padding: 10px 0 10px 0;">
        <!--{{#if username}}-->
            <!--<h2>Hey {{username}} !</h2>-->
        <!--{{/if}}-->
    </div>

</div>
</template>
