<!-- template for nations page -->
<template name="nations">
    <div class="container-fluid">
        <div class="text-center" style="background-color:#BE1418;width:100%;border-bottom: #960C0F solid 5px;border-top: #960C0F solid 5px;margin: 100px 0 100px 0">
            <div style="margin: 0 auto;width:1000px;">

                <div class="row">
                    <div class="col-sm-9 col-md-8 col-lg-9" style="float: none;display: table-cell;">
                        <div class="row">

                            {{#each nations}}
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="margin: 5px 0;">
                                    <div class="url_box" style="width:100px;height:70px;">
                                        <a href="{{pathFor 'nationPage'}}">
                                            <div style="padding-top: 8px">
                                                <img src="/images/nations/{{nation_picture}}" alt="" style="width:40px;height:25px">
                                                <h1 class="small">{{nation_name}}</h1>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {{/each}}

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<!-- template for each nation page -->
<template name="nationPage">
    <div class="container-fluid">
        <div class="text-center" style="background-color:#BE1418;width:100%;border-bottom: #960C0F solid 5px;margin: 30px 0 10px 0">
            <div style="margin: 0 auto;width:1000px;font-size: 72px; color: #fff">
                <img src="/images/nations/{{nationPicture}}" style="width:71px;height:45px">
                {{nationName}}
                <img src="/images/nations/{{nationPicture}}" style="width:71px;height:45px">
            </div>
        </div>

    </div>
    <div class="row container" style="display: table;">

        <div class="col-sm-9 col-md-8 col-lg-9" style="float: none;display: table-cell;vertical-align: top;">

            <div class="row">
                {{#each players}}
                    {{>playerCard}}
                {{/each}}
            </div>


        </div>

    </div>
</template>