<template name="players">
    <br />  <br />  <br />  <br />  <br />  <br />  <br />  <br />

        {{#each players}}
        <div><a href="/Players/{{_id}}" >{{player_name}}</a></div>
        {{/each}}
</template>

<template name="playerPage">
    <br />  <br />  <br />  <br />  <br />  <br />  <br />  <br />
    {{> flashMessages}}
    {{#each players}}
        <h1>{{player_name}} - {{player_number}}</h1>
    {{/each}}
<br/><br/><br/>


    {{#each comments}}
        {{>commentItem}}
    {{/each}}





{{> addComment}}
</template>