<template name="changePassword">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-default navbar-btn admin" data-toggle="modal" data-target="#changePassword">Change User Password

    </button>
    <br/>

    <!-- Modal -->
    <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Change user Password</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal changePassword">
                        <div class="form-group">
                            <label for="username" class="col-sm-6 control-label">Select User:</label>

                            <div class="col-sm-6">
                                <select name="changePasswordUsername">
                                    {{#each normalUsers}}
                                        {{> userItem}}
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="changePassword" class="col-sm-6 control-label">Enter Password:</label>

                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="changePassword2" name="changePassword2" placeholder="Password" required>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="changePassword2" class="col-sm-6 control-label">Re Enter Password:</label>

                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="changePassword" name="changePassword" placeholder="Password" required>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default" value="changePassword">Continue</button>

                            </div>
                        </div>
                    </form>
                    {{> flashMessages}}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Button Model End -->






</template>