<template name="removeUser">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-default navbar-btn admin" data-toggle="modal" data-target="#removeUser">Remove User</button><br />

    <!-- Modal -->
    <div class="modal fade" id="removeUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Remove User</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal removeUser">
                        <div class="form-group">
                            <label for="removeUser" class="col-sm-6 control-label">Remove This User!:</label>
                            <div class="col-sm-6">
                                <select name="removeUser">
                                    {{#each normalUsers}}
                                        {{> userItem}}
                                    {{/each}}

                                </select>
                                <!--<input type="text" class="form-control" id="removeUser" name="removeUser" placeholder="Username" required>-->
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default" value="removeUser">Continue</button>

                            </div>
                        </div>
                    </form>
                    {{> flashMessages}}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Button Model End -->


</template>

<template name="userItem">
        <option name={{name}} value="{{id}}">{{name}}</option>
</template>