<template name="header">
    <header role="banner">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" title="Home" href="{{pathFor 'index'}}">
                        <img src="/images/logo-small.png" alt="shoot 24" style="width:181px;height: 49px;">
                    </a>
                    <form id="search" action="{{pathFor 'search'}}" method="GET" enctype="text/plain" style="float:  right;">
                        <div><input class="searchHeader"  type="text" name="q" id="q" placeholder="Search for any player..."></div>
                    </form>
                </div>

                <div class="collapse navbar-collapse navbar-responsive-collapse navbar-right">
                    {{>menu}}
                </div>

            </div>
        </div>
    </header>

<br />
</template>